
.playButton {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 20px;
  background: #708090;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.playButton:hover {
  background: #B0C4DE;
  text-decoration: none;
}


#pbUp {
  width: 260px;
  height: 100px;
  position: absolute; left: 220px; top: 750px
}

#pbLeft {
  width: 220px;
  height: 200px;
  position: absolute; left: 0px; top: 750px
}


#pbRight {
  width: 220px;
  height: 200px;
  position: absolute; left: 480px; top: 750px
}


#pbDown {
  width: 260px;
  height: 100px;
  position: absolute; left: 220px; top: 850px
}
