
.wrapper {
   display: table;
   padding: 0;
   width: 100%;
   height: auto;
   position: absolute;
}
.container {
   display: table-cell;
   vertical-align: top;
}

.canvas-container {
   position: relative;
   max-width: 700px;
   min-width: 350px;
   margin: 0 auto;
}

.button-container {
   position: relative;
   max-width: 700px;
   min-width: 100px;
   margin: 0 auto;
}

.responsive {
   width: 100%;
   height: auto;
   background-color: black;
}

.playButton {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  font-family: "Eagle Lake", cursive, sans-serif;
  font-style: italic;
  font-size: 1.5em;
  color: #DAA520;
  border: 0.125em ridge #DAA520;
  background-color: #333d3f;
  background-image: linear-gradient(90deg, rgba(51,61,63,.07) 50%, transparent 50%),
  linear-gradient(90deg, rgba(51,61,63,.13) 50%, transparent 50%);
  background-size: 13px, 29px, 37px, 53px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.playButton:hover{
  background: #525b68;
  text-decoration: none;
}

.playButton:active{
  background: #B0C4DE;
  top: 0.125em;
  text-decoration: none;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#pbDown:active{
  top: 3.125em;
}

#pbUp {
  width: 38%;
  height: 3em;
  position: absolute; left: 31%
}

#pbLeft {
  width: 31%;
  height: 6em;
  position: absolute; left: 0%
}


#pbRight {
  width: 31%;
  height: 6em;
  position: absolute; left: 69%
}


#pbDown {
  width: 38%;
  height: 3em;
  position: absolute; left: 31%; top: 3em;
}


.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
